<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
        <session-factory>
                <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
                <property name="hibernate.default_schema">puzzle_cats</property>

		<property name="hibernate.connection.datasource">java:comp/env/jdbc/puzzle_cats_DS</property>

                <mapping class="marso.model.User"></mapping>
                <mapping class="marso.model.Lobby"></mapping>
                <mapping class="marso.model.Game"></mapping>
                <mapping class="marso.model.GameMove"></mapping>
        </session-factory>
</hibernate-configuration>
